@model MVCInBuiltFeatures.Models.UserFormView
@using MVCInBuiltFeatures.UIComponent;
@{
    ViewBag.Title = "SearchUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


 @using (Html.BeginForm("SearchUser", "Account", FormMethod.Post))
 {
    @Html.ValidationSummary(false)
    <div style="border-bottom:1px solid #bbb"><h1>User search</h1></div> 
    <table style="border:0px; width:500px;">
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(m => m.UserName )
                </div>

                <div class="editor-field">
                    @Html.EditorFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>                 
            </td>
            <td>                
                <div class="editor-label">
                    @Html.LabelFor(m => m.Position)
                </div>

                <div class="editor-field">
                    @Html.EditorFor(m => m.Position)
                    @Html.ValidationMessageFor(m => m.Position)
                </div>
            </td>
            <td style="vertical-align:bottom;">                    
                <input name="SearchButton" type="submit" value="Search" />
            </td>
        </tr>
    </table>
     <br />
     if (Model.SearchResults != null && Model.SearchResults.Count() > 0)
     {
        <table class="table" style=" width:500px;">
            <tr>
                <th>UserID</th>
                <th>Full Name</th>
                <th>Image</th>
                <th>Position</th>
                <th>Birth date</th>
                <th>Address</th>
                <th></th>
            </tr>
         @foreach (var item in Model.SearchResults)
         {
             <tr>
                <td>@Html.ActionLink(@item.UserName, "EditUser", new {  id=item.Id }) </td>
                <td>@item.FullName</td>
                 <td><img src="@Url.Content("~/Uploads/UserImage/"+@item.Image)" width="120" /></td>
                <td>@item.Position</td>
                <td>@item.DateOfBirth</td>
                <td>@item.Address</td>
                <th>
                    @Html.HiddenFor(ss=>item.Id)
                    <input type="button" value="Assign role" class="btnAssignRole btnStyleOne" />
                    @*@Html.ActionLink("Assign Role","AssignRole",new{id=@item.Id}) |*@
                @Html.ActionLink("Reset password","ResetPassword",new{id=@item.Id})
                    
                </th>
            </tr>
         }        
        </table>
     }
     
 }
<div id="assignRoleForm"></div>
@section Scripts {
    @Scripts.Render("~/bundles/jquery-assign-role")

}
