@using ERestaurant.Util;
@model ERestaurant.Models.SessionMaster

@{
    ViewBag.Title = "EditSession";
}

<h2>EditSession</h2>

@using (Html.BeginForm("EditSession","Home", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.SessionID)
    <div class="form-horizontal">
        
        @Html.ValidationSummary(true)

         <div class="form-group">
            @Html.LabelFor(model => model.SessionName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.SessionName)
                @Html.ValidationMessageFor(model => model.SessionName)
            </div>
        </div>
        <div class="line">
        @Html.DevExpress().LabelFor(model => model.SessionBelongto, CommonDemoHelper.LabelgrSettingsMethod).GetHtml()
        @Html.DevExpress().ComboBoxFor(
        model => model.SessionBelongto,
        grSettings =>
        {
            grSettings.Name = "SessionBelongto";
            grSettings.Width = Unit.Pixel(250);
            grSettings.ShowModelErrors = true;
            grSettings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
            grSettings.Properties.DropDownStyle = DropDownStyle.DropDown;
            grSettings.ControlStyle.CssClass = "editor";
            grSettings.Properties.TextField = "SessionName";
            grSettings.Properties.ValueField = "SessionID";
            grSettings.Properties.ValidationgrSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
        }
    ).BindList(ViewBag.Session).GetHtml()
    </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<div>
    @Html.ActionLink("Back to List", "Session")
</div>
