@model  List<MVCInBuiltFeatures.Models.AssignRoleModel>

<style>
    .ui-dialog .ui-dialog-titlebar {
        background: #F2A53C;
    }
   
</style>
<div >
       
        <div id="allAssignItem" >
           @* @for (int i = 0; i < Model.Count; i++)
            {
                <input type ="checkbox" id ="chk"+@i value="@m[i].Name" checked="@m[i].IsSelected" />
               
                @Html.CheckBoxFor(m => m[i].IsSelected)
                @Html.Label(Model[i].Name)
                @Html.HiddenFor(m => m[i].Name)
                @Html.HiddenFor(m => m[i].Id)
                @Html.HiddenFor(m => m[i].IdUsr)
                <br />
            }*@
            @{
                var index = 0;
            }
            @foreach(var item in Model)
            {
                var chekName = "chk" + @index;
                <input type ="checkbox" id ="@chekName" value="@item.Name" userId="@item.IdUsr"  /> @item.Name
                <br />
                index += 1;
            }


        </div>

        <div >
            
                <input type="button" id="btnAssign" value="Assign" />
            
        </div>
    </div>
@Scripts.Render("~/bundles/jquery-assign-role")

