@model MVCInBuiltFeatures.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jquery-ui")
<script>
    $(document).ready(function () {
        $("#DateOfBirth").datepicker
            ({
                dateFormat: "dd/mm/yy",
                showStatus: true,
                showWeeks: true,
                highlightWeek: true,
                numberOfMonths: 1,
                showAnim: "scale",
                showOptions: {
                    origin: ["top", "left"]
                }
            });
    });
</script>
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @class = "stdform stdform2", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="widgetbox box-inverse">
        <h4 class="widgettitle">Create User</h4>
        <div class="widgetcontent nopadding">

            <p>

                <label>User Name</label>
                <span class="field">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "input-xxlarge" })
                    @Html.ValidationMessageFor(m=>m.UserName)
                </span>
            </p>

            <p>
                @Html.LabelFor(m => m.FullName)
                <span class="field">
                    @Html.TextBoxFor(m => m.FullName, new { @class = "input-xxlarge" })
                </span>
            </p>
            <p>
                @Html.LabelFor(m => m.DateOfBirth)
                <span class="field">
                    @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "input-large" })
                </span>
            </p>
            <p>
                @Html.LabelFor(m => m.Position)
                <span class="field">
                    @Html.TextBoxFor(m => m.Position, new { @class = "input-xxlarge" })
                </span>
            </p>

            <p>
                @Html.LabelFor(m => m.Address)
                <span class="field">
                    @Html.TextAreaFor(m => m.Address, new { @class = "input-xxlarge", cols = "120", rows = "5" })
                </span>
            </p>
            <p>
                @Html.LabelFor(m => m.Image)

                <span class="field">
                    @Html.TextBoxFor(m => m.Image, new { @class = "fileupload-new", type = "file" })
                </span>

            </p>
            <p class="stdformbutton">
                <label></label>
                 <span >
                     <input type="submit" class="btn btn-primary" value="Create" />
                     <input type="reset" class="btn"  value="Reset Button"/>
                 </span>
            </p>

        </div>
        <!--widgetcontent-->
    </div>
    
}
