<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Restaurant</title>
    @Scripts.Render("~/bundles/jquery-admin")
    @Scripts.Render("~/bundles/jquery-admin-ui")
    @Scripts.Render("~/bundles/jquery-response")
    @Scripts.Render("~/bundles/jquery-cookies")
    @Scripts.Render("~/bundles/jquery-custom")
    @Styles.Render("~/Content/admin-css")


</head>

<body class="loginpage">

<div class="loginpanel">
    @RenderBody()
</div><!--loginpanel-->

<div class="loginfooter">
    <p>&copy; 2013. Restaurant. All Rights Reserved.</p>
</div>
    @RenderSection("scripts", required: false)
</body>
</html>
