@model ERestaurant.Models.RegisterModel
@using ERestaurant.Util;

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!--basic styles-->

<link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/css/bootstrap-responsive.min.css")" rel="stylesheet" />
<link rel="stylesheet" href="@Url.Content("~/Content/css/font-awesome.min.css")" />

<!--[if IE 7]>
		  <link rel="stylesheet" href="@Url.Content("~/Content/css/font-awesome-ie7.min.css")" />
		<![endif]-->

<!--page specific plugin styles-->

<!--fonts-->

<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />

<!--ace styles-->

<link rel="stylesheet" href="@Url.Content("~/Content/css/ace.min.css")" />
<link rel="stylesheet" href="@Url.Content("~/Content/css/ace-responsive.min.css")" />
<link rel="stylesheet" href="@Url.Content("~/Content/css/ace-skins.min.css")" />

<!--[if lte IE 8]>
		  <link rel="stylesheet" href="@Url.Content("~/Content/css/ace-ie.min.css")" />
		<![endif]-->

<!--basic scripts-->

<!--[if !IE]>-->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

<!--<![endif]-->

<!--[if IE]>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<![endif]-->

<!--[if !IE]>-->

<script type="text/javascript">
    window.jQuery || document.write("<script src='@Url.Content("~/Scripts/js/jquery-2.0.3.min.js")'>" + "<" + "/script>");
</script>

<!--<![endif]-->

<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='@Url.Content("~/Scripts/js/jquery-1.10.2.min.js")'>"+"<"+"/script>");
</script>
<![endif]-->

<script type="text/javascript">
    if ("ontouchend" in document) document.write("<script src='@Url.Content("~/Scripts//js/jquery.mobile.custom.min.js")'>" + "<" + "/script>");
</script>
<script src="@Url.Content("~/Scripts/js/bootstrap.min.js")"></script>

<!--page specific plugin scripts-->

<script src="@Url.Content("~/Scripts/js/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/Scripts/js/jquery.dataTables.bootstrap.js")"></script>

<!--ace scripts-->

<script src="@Url.Content("~/Scripts/js/ace-elements.min.js")"></script>
<script src="@Url.Content("~/Scripts/js/ace.min.js")"></script>
<div class="hide" style="display: block;">
<div id="user-profile-3" class="user-profile row-fluid">
    @using (Html.BeginForm("EditUserInfo", "Account", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        <label>@ViewBag.Message</label>
        <div id="edit-basic" class="tab-pane active">
            <h4 class="header blue bolder smaller">General</h4>

            <div class="row-fluid">
                <div class="span4">
                    <div class="ace-file-input ace-file-multiple">
                        <img src="@Url.Content("~/Upload/images/" + @Model.Image)" />

                    </div>
                   @* <div class="line">
        @Html.DevExpress().LabelFor(model => model.Avatar, CommonDemoHelper.LabelgrSettingsMethod).GetHtml()
        @Html.TextBoxFor(model=>model.Avatar, new{@type="file"})
       <div></div>
       @Html.HiddenFor(model=>model.Image)
        @Html.ValidationMessageFor(model=>model.Avatar)

    </div>*@
                </div>

                <div class="vspace"></div>

                <div class="span8">
                    <div class="control-group">
                        <label class="control-label" for="UserName">Username</label>

                        <div class="controls">
                            @Html.TextBoxFor(model => model.UserName)
                        </div>
                    </div>


                </div>
            </div>

            <hr>
            <div class="control-group">
                <label class="control-label" for="DOB">Birth Date</label>

                <div class="controls">
                    <div class="input-append">
                        @Html.DevExpress().DateEditFor(model => model.DOB, CommonDemoHelper.DateEditSettingsMethod).GetHtml()

                    </div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Gender</label>

                <div class="controls">
                    <div class="space-2"></div>
                    @Html.DevExpress().RadioButtonListFor(
                                                                model => model.Gender,
                                                                settings =>
                                                                {
                                                                    settings.Name = "radioButtonList1";
                                                                    settings.Properties.ValueField = "GenderValue";
                                                                    settings.Properties.TextField = "GenderName";
                                                                }).BindList(ViewBag.AllGender).GetHtml()
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="Address">Address</label>

                <div class="controls">
                    @Html.TextAreaFor(model => model.Address)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="form-field-phone">Phone</label>

                <div class="controls">
                    <span class="input-icon input-icon-right">
                        @Html.TextBoxFor(model =>model.Mobile)
                        <i class="icon-phone icon-flip-horizontal"></i>
                    </span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="Position">Position</label>

                <div class="controls">
                  
            @Html.DevExpress().ComboBoxFor(
        model => model.Position,
        grSettings =>
        {
            grSettings.Name = "Position";
            grSettings.Width = Unit.Pixel(250);
            grSettings.ShowModelErrors = true;
            grSettings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
            grSettings.Properties.DropDownStyle = DropDownStyle.DropDown;
            grSettings.ControlStyle.CssClass = "editor";
            grSettings.Properties.TextField = "PositionName";
            grSettings.Properties.ValueField = "PositionID";
            grSettings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
        }
    ).BindList(ViewBag.AllPosition).GetHtml()
                </div>
            </div>


            <div class="space"></div>
           
            
            
        </div>
     
    <div class="form-actions">

				 @Html.DevExpress().Button(settings =>
                {
                   settings.Name = "Button";
                    settings.Text = "Update";
                    settings.UseSubmitBehavior = true;
                }).GetHtml()
     @*   <button class="btn btn-info" type="button">
													<i class="icon-ok bigger-110"></i>
													Update
												</button>	*@
    							
     
	</div>
    }
</div>
    </div>
