@model ERestaurant.Models.FoodCategoryMaster

@{
    ViewBag.Title = "CreateFoodCategory";
}

<h2>CreateFoodCategory</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>FoodCategoryMaster</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.FoodCatName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FoodCatName)
                @Html.ValidationMessageFor(model => model.FoodCatName)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "FoodCategory","Home")
</div>
