@model IEnumerable<ERestaurant.Models.FoodCategoryMaster>

@{
    ViewBag.Title = "FoodCategory";
}

<h2>FoodCategory</h2>

<p>
    @Html.ActionLink("Create New", "CreateFoodCategory", "Home")
</p>
<table class="table">
    
    <tr>
        <th>Food Category Name</th>
    </tr>
    <tr></tr>

@foreach (var item in Model) {
    <tr>
        <td>@item.FoodCatName</td>
        <td>
            @Html.ActionLink( "Edit", "EditFoodCategory", new { id=item.FoodCatID}) |
           @* @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
            @Html.ActionLink("Delete", "DeleteFoodCategory", new {  id=item.FoodCatID  },new
                                                        {
                                                            onclick = "return confirm('Are you want delete this category ?')"
                                                        })
        </td>
    </tr>
}

</table>
