@{ Layout = "~/Views/Shared/_lightLayout.cshtml"; }
@model ERestaurant.Models.LoginModel
<div class="accountHeader">
    <h2>
        Log In</h2>
    <p>
        Please enter your username and password. @Html.ActionLink("Register", "Register")
        if you don't have an account.</p>
</div>
@using(Html.BeginForm()) {
        @Html.AntiForgeryToken()
    
    @Html.DevExpress().Label(grSettings => {
        grSettings.Name = "UserNameLabel";
        grSettings.Text = "User Name";
        grSettings.AssociatedControlName = "UserName";
    }).GetHtml()

    <div class="form-field">
        @Html.EditorFor(m => m.UserName)
        @Html.ValidationMessageFor(m => m.UserName)
    </div>

    @Html.DevExpress().Label(grSettings => {
        grSettings.Name = "PasswordLabel";
        grSettings.Text = "Password";
        grSettings.AssociatedControlName = "Password";
    }).GetHtml()
    <div class="form-field">
        @Html.EditorFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
    </div>

    <div class="form-field">
        @Html.DevExpress().CheckBox(grSettings => {
            grSettings.Name = "RememberMe";
            grSettings.Text = "Remember me?";
        }).GetHtml()
    </div>

    @Html.DevExpress().Button(grSettings => {
        grSettings.Name = "Button";
        grSettings.Text = "Log On";
        grSettings.UseSubmitBehavior = true;
    }).GetHtml()
}