@*@{ Layout = "~/Views/Shared/_lightLayout.cshtml"; }*@
@model ERestaurant.Models.RegisterModel
@using ERestaurant.Util;
<div class="accountHeader">
    <h2>Create a New Account</h2>
    <p>Use the form below to create a new account.</p>
</div>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <label>@ViewBag.Message</label>
    <div class="line">
        @Html.DevExpress().LabelFor(model => model.UserName, CommonDemoHelper.LabelgrSettingsMethod).GetHtml()
        @Html.DevExpress().TextBoxFor(model => model.UserName, CommonDemoHelper.TextBoxgrSettingsMethod).GetHtml()
    </div>
    <div class="line">
        @Html.DevExpress().LabelFor(model => model.DOB, CommonDemoHelper.LabelgrSettingsMethod).GetHtml()
        @Html.DevExpress().DateEditFor(model => model.DOB, CommonDemoHelper.DateEditgrSettingsMethod).GetHtml()
    </div>
    <div class="line">
        @Html.DevExpress().LabelFor(model => model.Gender, CommonDemoHelper.LabelgrSettingsMethod).GetHtml()
        @Html.DevExpress().RadioButtonListFor(
        model => model.Gender,
        grSettings =>
        {
            grSettings.Name = "radioButtonList1";
            grSettings.Properties.ValueField = "GenderValue";
            grSettings.Properties.TextField = "GenderName";
        }).BindList(ViewBag.AllGender).GetHtml()
    </div>
    <div class="line">
        @Html.DevExpress().LabelFor(model => model.Mobile, CommonDemoHelper.LabelgrSettingsMethod).GetHtml()
        @Html.DevExpress().TextBoxFor(model => model.Mobile, CommonDemoHelper.TextBoxgrSettingsMethod).GetHtml()
    </div>
    <div class="line">
        @Html.DevExpress().LabelFor(model => model.Position, CommonDemoHelper.LabelgrSettingsMethod).GetHtml()
        @Html.DevExpress().ComboBoxFor(
        model => model.Position,
        grSettings =>
        {
            grSettings.Name = "Position";
            grSettings.Width = Unit.Pixel(250);
            grSettings.ShowModelErrors = true;
            grSettings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
            grSettings.Properties.DropDownStyle = DropDownStyle.DropDown;
            grSettings.ControlStyle.CssClass = "editor";
            grSettings.Properties.TextField = "PositionName";
            grSettings.Properties.ValueField = "PositionID";
            grSettings.Properties.ValidationgrSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
        }
    ).BindList(ViewBag.AllPosition).GetHtml()
    </div>
     <div class="line">
        @Html.DevExpress().LabelFor(model => model.Address, CommonDemoHelper.LabelgrSettingsMethod).GetHtml()
        @Html.DevExpress().TextBoxFor(model => model.Address, CommonDemoHelper.TextBoxgrSettingsMethod).GetHtml()
    </div>
  
    @Html.DevExpress().Button(grSettings =>
{
    grSettings.Name = "Button";
    grSettings.Text = "Create";
    grSettings.UseSubmitBehavior = true;
}).GetHtml()
}